.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-1,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-1,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-1 {
      background: none repeat scroll 0 0 #ffffff;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-1,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-1,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-1 {
      background: none repeat scroll 0 0 #ffffff;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-1 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-1 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-1 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-1 .cutoff {
      background: none repeat scroll 0 0 #ffffff;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-1,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-1 {
      background: none repeat scroll 0 0 #ffffff !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-3,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-3,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-3 {
      background: none repeat scroll 0 0 #ffffff;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-3,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-3,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-3 {
      background: none repeat scroll 0 0 #ffffff;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-3 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-3 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-3 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-3 .cutoff {
      background: none repeat scroll 0 0 #ffffff;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-3,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-3 {
      background: none repeat scroll 0 0 #ffffff !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }.calendar-calendar .month-view .full td.multi-day div.colors-taxonomy-term-2,
    .calendar-calendar .week-view .full td.multi-day div.colors-taxonomy-term-2,
    .calendar-calendar .day-view .full td.multi-day div.colors-taxonomy-term-2 {
      background: none repeat scroll 0 0 #ffffff;
      color: #FFFFFF;
      height: 1.9em;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .calendar-calendar .month-view .full td.single-day div.colors-taxonomy-term-2,
    .calendar-calendar .week-view .full td.single-day div.colors-taxonomy-term-2,
    .calendar-calendar .day-view .full td.single-day div.colors-taxonomy-term-2 {
      background: none repeat scroll 0 0 #ffffff;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-2 .continues,
    .calendar-calendar .month-view .full td.multi-day .inner .colors-taxonomy-term-2 .cutoff,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-2 .continues,
    .calendar-calendar .week-view .full td.multi-day .inner .colors-taxonomy-term-2 .cutoff {
      background: none repeat scroll 0 0 #ffffff;
      border-radius: 0 5px 5px 0;
      height: 1.9em;
      padding-left: 6px;
      position: absolute;
      right: 0 !important;
      text-align: left;
      width: 10px;
      z-index: 1;
    }
    .calendar-calendar .week-view .full div.single-day div.colors-taxonomy-term-2,
    .calendar-calendar .day-view .full div.single-day div.colors-taxonomy-term-2 {
      background: none repeat scroll 0 0 #ffffff !important;
      overflow: hidden;
      padding: 0 3px;
      width: auto;
    }